:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --fb-color: #385185;
  --dark-blue: #00376b;
}
.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}
body {
  background-color: var(--body-bg);
  color: var(--txt-color);
}
a {
  text-decoration: none;
}
img {
  width: 50px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.wrapper {

}
.logo img {
  width: 100px;
}