:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --fb-color: #385185;
  --dark-blue: #00376b;
}
.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}
body {
  background-color: var(--body-bg);
  color: var(--txt-color);
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.wrapper {
  background-color: var(--body-bg);
}
.box {
  width: 60%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--box-bg);
  border-bottom:2px solid var(--box-border-color);
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--box-border-color);
}
.logo img {
  width: 100px;
}
.logo p i {
  font-size: 20px;
}
.main-one {
  display: flex;
  justify-content: space-around;
}
.post1 {
  width: 60%;
  border: 2px solid var(--box-border-color);
}
.post-user {
  display: flex;
  justify-content: space-between;
}
.post-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-img1 img {
  width: 100%
}


.post2 {
  width: 25%;
  border: 2px solid var(--box-border-color);
}
.post2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}