:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --light-blue: #0095f6;
  --fb-color: #385185;
  --dark-blue: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #353535;
  --box-border-color: #666565;
  --txt-color: #d2d2d2;
}
body {
  background-color: var(--body-bg);
  color: var(--txt-color);
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input,
button {
  border: none;
  /* outline: none; 커서활성화 되었을때 테두리 안보이게 */
  outline: none;
  background-color: transparent;
}
.btn-blue {
  width: 100%;
  color: #fff;
  background-color: var(--light-blue);
  padding: 12px 0;
  margin: 12px 0;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  height: 100vh;

}
.form-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.box {
  width: 360px;
  border:1px solid var(--box-border-color);
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  margin: 25px 0;
}
.logo {
  width: 180px;
  height: 50px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}
.login-form {
  margin-top: 30px;
}
.join {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0;
}
.join p{
  margin-bottom: 10px;
}
.join img {
  width: 20px;
  height: 20px;
}
.or-box {
  display: flex;
  align-items: center;
}
.or-box div:nth-child(odd) {
  height:1px;
  flex-grow: 1;
  background-color:var(--box-border-color);
}
.or-box div:nth-child(even) {
  color: var(--txt-second-color);
  margin: 20px 10px;
  font-weight: 700;
}

.animate-input {
  margin: 6px 0;
  height: 36px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--box-border-color);
  padding: 0 8px;
}
.animate-input input {
  height: 100%;
  width: 100%;
}
.animate-input span {
  position: absolute;
  top:12px;
  left: 8px;
  font-size: 12px;
  pointer-events: none;
  color: var(--box-border-color);
  transition: all 200ms ease-in-out;
}
.animate-input.active {
  padding: 4px 8px 0;
}
.animate-input.active span {
  top:2px;
  font-size: 10px;
}
.userpw button {
  position: absolute;
  top: 10px;
  right: 8px;
  font-weight: 700;
  cursor: pointer;
  display: none;
}

.usertxt {
  font-size: 13px;
  padding: 10px 0;
  margin: 10px 0;
}

.logoin-box {
  margin-top: 12px;
  padding: 16px 0;
}
.logoin-box span {
  color: var(--light-blue);
  font-weight: 700;
}

.app-txt{
  margin: 30px 0;
}
.app-down img {
  width: 136px;
  height: 40px;
  object-fit: contain;
}

footer {
  text-align: center;
}
.footer-menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-menu-list a {
  padding: 0 8px;
  color: var(--txt-second-color);
  font-size: 14px;

}
.copyfight {
  color: var(--txt-second-color);
  margin: 30px 0;
}
