:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --btn-bg: #0095f6;
  --btn-color: #fff;
  --fb-color: #385185;
  --a-color: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #151515;
  --box-border-color: #262626;
  --txt-color: #d2d2d2;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {

}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 40px auto 0;
  padding: 40px;
  background-color: var(--box-bg);
  border: 4px solid var(--box-border-color);
  border-radius: 5px;
}
.in-logo {
  width: 240px;
  height: 100px;
  margin: 30px auto;
}
.in-logo img {
  width: 100%;
}
.id-user,
.pw-box {
  margin: 4px 0;
  position: relative;
}
.id-user span,
.pw-box span {
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  font-size: 12px;
  padding-left: 10px;
  color: var(--txt-second-color);
}
.id-user span.position,
.pw-box span.position {
  top: 0;
  transform: translateY(0);
  font-size: 12px;
}
.pw-box .pw-mode.hide {
  display: none;
}
#userid,
#userpw,
#login-btn{
  width: 100%;
  height: 40px;
  border: 1px solid var(--box-border-color);
  border-radius: 4px;
}
#userid,
#userpw {
  padding-left: 10px;
  padding-top: 10px;
}
#login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-weight: 700;
  cursor: pointer;
}
.line {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 28px 0px;
  font-size: 14px;
  color: #151515;    
}
.line::before,
.line::after  {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background-color: var(--box-border-color);  
  height: 1px;
  font-size: 0px;
  line-height: 0px; 
}
.facebook-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-logo img {
  width: 20px;
  height: 20px;
}
.facebook-logo span {
  color: var(--fb-color);
  font-weight: 700;
  padding-left: 10px;
}
.facebook-logo + a {
  font-size: 15px;
}
.pwchk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.join-box {
  width: 400px;
  text-align: center;
  background-color: var(--box-bg);
  border-radius: 5px;
  margin: 20px auto;
  padding: 30px;
}
.download-txt {
  width: 400px;
  margin: 10px auto;
  text-align: center;
}
.footer-img {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer-img img {
  width: 180px;
  margin: 20px 10px;
}
.footer-list {
  width: 80%;
  margin: 20px auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-list1 ul a {
  color: var(--txt-color);
  padding-right: 15px;
}

.footer-list2 {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #151515;
    color: #fff;
  }
}